<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<title>show</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="__PUBLIC__/Css/admin.css" type="text/css" rel="stylesheet" />

		<style>
			li {
				list-style: none;
				width: 200px;
				height: 200px;
				float: left;
			}
		</style>
	</head>

	<body>

		<ul>
			<volist name="tp_data" id="vo">
				<li>
					<p>
						<img src="__TMPL__{$vo.image}" />
					</p>

					<p>
						{$vo.author}
					</p>
					<p>
						{$vo.date}
					</p>
					<p>
						{$vo.version}
					</p>
					<a href="__URL__/update_tpl/tpname/{$vo.author}">启用</a>
				</li>
			</volist>

		</ul>
	</body>
</html>
