<div id="fixed_big_from">
    <div class="fixed_from user_left">
        <div>Account Manage</div>
        <ul class="fixed_content">
              <li><a href="/ShoppingCart/List.aspx">My ShoppingCart</a></li>
              <li><a href="/UserCenter/Order/List.aspx">My Order</a></li>
              <li><a href="/UserCenter/User/Address.aspx"> My Informartion</a></li>
              <li><a href="/UserCenter/User/Pwd.aspx" >Modify Password</a></li>
              <li><a href="/UserCenter/Login/Out.aspx">Exit</a></li>  
        </ul>
    </div>
    #{layout_content}
    <div class="clear"></div>
</div>
